<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Nextcloud - Android Client
  ~
  ~ SPDX-FileCopyrightText: 2020-2024 Nextcloud GmbH and Nextcloud contributors
  ~ SPDX-FileCopyrightText: 2020 Tobias Kaminsky <tobias@kaminsky.me>
  ~ SPDX-License-Identifier: AGPL-3.0-or-later OR GPL-2.0-only
  ~
  ~ UI Automator requires Android 4.3 (API level 18) or higher.
  ~ So this AndroidManifest will be merged with the normal one (not requiring to change the minSdk)
  ~ and used for UI Automator tests, and does not affect the normal release/debug builds.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="${applicationId}.uid">

</manifest>
