# .editorconfig

# see http://EditorConfig.org

# SPDX-FileCopyrightText: 2018-2024 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later OR GPL-2.0-only

# This is the file in the root of the project.
# For sub folders you can have other files that override only some settings.
# For these, this settings should be false.
root=true

[*]
max_line_length=120
# use spaces, not tabs.
indent_style=space
indent_size=4

[*.yml]
max_line_length=150

charset=utf-8

# Trimming is good for consistency
trim_trailing_whitespace=true
# I've seen cases where a missing new_line was ignored on *nix systems.
# Never again with this setting!
insert_final_newline=true

[*.properties]
# Exception for Java properties files should be encoded latin1 (aka iso8859-1)
charset=latin1

[*.{cmd,bat}]
# batch files on Windows should stay with CRLF
end_of_line=crlf

[*.md]
trim_trailing_whitespace=false

[.drone.yml]
indent_size=2

[*.{kt,kts}]
ktlint_code_style = android_studio
# IDE does not follow this Ktlint rule strictly, but the default ordering is pretty good anyway, so let's ditch it
ktlint_standard_import-ordering = disabled
ktlint_standard_no-consecutive-comments = disabled
ktlint_function_naming_ignore_when_annotated_with = Composable
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false
