[submodule "owncloud-android-library"]
	path = owncloud-android-library
	url = git://github.com/owncloud/android-library.git
	branch = master
[submodule "ocdoc"]
	path = user_manual/ocdoc
	url = https://github.com/owncloud/documentation
	branch = master
