<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Nextcloud - Android Client
  ~
  ~ SPDX-FileCopyrightText: 2019-2024 Nextcloud GmbH and Nextcloud contributors
  ~ SPDX-License-Identifier: AGPL-3.0-or-later OR GPL-2.0-only
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Used for document scanning, but lib declares it as required, which it's not -->
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false"
        tools:node="replace" />

    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup" />
</manifest>
