<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.owncloud.android.workaround.accounts"
    android:versionCode="0100026"
    android:versionName="1.0.26" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/workaround_app_icon"
        android:label="@string/workaround_app_name"
        >
        <service
            android:name=".AccountAuthenticatorService"
            android:exported="false">
            <intent-filter android:priority="1">
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>

</manifest>