name: "Analysis"

on:
    pull_request_target:
        branches: [ master, stable-* ]
    push:
        branches: [ master, stable-* ]

jobs:
    analysis:
        runs-on: ubuntu-latest
        steps:
            -   name: Setup variables
                id: get-vars
                run: |
                    if [ -z "$GITHUB_HEAD_REF" ]; then
                        # push
                        echo "::set-output name=branch::$GITHUB_REF_NAME"
                        echo "::set-output name=pr::$GITHUB_RUN_ID"
                    else
                        # pull request
                        echo "::set-output name=branch::$GITHUB_HEAD_REF"
                        echo "::set-output name=pr::${{ github.event.pull_request.number }}"
                    fi
            -   name: Show variables
                run: |
                    echo "BRANCH: ${{ steps.get-vars.outputs.branch }}"
                    echo "PR: ${{ steps.get-vars.outputs.pr }}"
                    echo "RUN NUMBER: $GITHUB_RUN_NUMBER"
            -   uses: actions/checkout@v3
                with:
                    ref: ${{ steps.get-vars.outputs.branch }}
            -   name: Set up JDK 11
                uses: actions/setup-java@v2
                with:
                    distribution: "temurin"
                    java-version: 11
            -   name: Run analysis wrapper
                run: |
                    mkdir -p $HOME/.gradle
                    echo "org.gradle.jvmargs=-Xmx2g -XX:MaxMetaspaceSize=512m -XX:+HeapDumpOnOutOfMemoryError" > $HOME/.gradle/gradle.properties
                    scripts/analysis/analysis-wrapper.sh ${{ secrets.GIT_USERNAME }} ${{ secrets.GIT_TOKEN }} ${{ steps.get-vars.outputs.branch }} ${{ secrets.LOG_USERNAME }} ${{ secrets.LOG_PASSWORD }} $GITHUB_RUN_NUMBER ${{ steps.get-vars.outputs.pr }}
