name: Auto approve
on:
    pull_request_target:
        branches: [ master, stable-* ]

permissions:
    pull-requests: write

jobs:
    auto-approve:
        runs-on: ubuntu-latest
        steps:
            -   uses: hmarr/auto-approve-action@v3.0.0
                if: github.actor == 'dependabot[bot]' || github.actor == 'dependabot-preview[bot]'
                with:
                    github-token: "${{ secrets.GITHUB_TOKEN }}"
