name: "Detect snapshot"

on:
    pull_request:
        branches: [ master, stable-* ]

# Declare default permissions as read only.
permissions: read-all

jobs:
    detectSnapshot:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v3
            -   name: Detect SNAPSHOT
                run: scripts/analysis/detectSNAPSHOT.sh
