name: "QA"

on:
    pull_request:
        branches: [ master, stable-* ]

jobs:
    qa:
        runs-on: ubuntu-latest
        steps:
            -   name: Check if secrets are available
                run: echo "::set-output name=ok::${{ secrets.KS_PASS != '' }}"
                id: check-secrets
            -   uses: actions/checkout@v2
                if: ${{ steps.check-secrets.outputs.ok == 'true' }}
            -   name: set up JDK 11
                if: ${{ steps.check-secrets.outputs.ok == 'true' }}
                uses: actions/setup-java@v1
                with:
                    java-version: 11
            -   name: Build QA
                if: ${{ steps.check-secrets.outputs.ok == 'true' }}
                env:
                    KS_PASS: ${{ secrets.KS_PASS }}
                    KEY_PASS: ${{ secrets.KEY_PASS }}
                    LOG_USERNAME: ${{ secrets.LOG_USERNAME }}
                    LOG_PASSWORD: ${{ secrets.LOG_PASSWORD }}
                run: |
                    mkdir -p $HOME/.gradle
                    echo "org.gradle.jvmargs=-Xmx2g -XX:MaxMetaspaceSize=512m -XX:+HeapDumpOnOutOfMemoryError" > $HOME/.gradle/gradle.properties
                    sed -i "/qa/,/\}/ s/versionCode .*/versionCode ${{github.event.number}} /" build.gradle
                    sed -i "/qa/,/\}/ s/versionName .*/versionName \"${{github.event.number}}\"/" build.gradle
                    ./gradlew assembleQaDebug
                    $(find /usr/local/lib/android/sdk/build-tools/*/apksigner | sort | tail -n1) sign  --ks-pass pass:$KS_PASS --key-pass pass:$KEY_PASS --ks-key-alias key0 --ks scripts/QA_keystore.jks build/outputs/apk/qa/debug/qa-debug-*.apk
                    sudo scripts/uploadArtifact.sh $LOG_USERNAME $LOG_PASSWORD ${{github.event.number}} ${{github.event.number}} ${{ secrets.GITHUB_TOKEN }}
